body{
    font-family: 'Oxygen', sans-serif;
}
h1{
    font-size: 60px;
}
.orange-color{
    color:orangered;
}
h2 {
    font-size: 35px;
}
.span-color{
    color:brown;
}
.flexible-container{
    display: flex;
    margin-bottom: 142px;
}
.half{
    width: 65%;
    padding-left:04%;

    
}
.half img{
    width:70%;

}
.button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 06px 25px;
    color:aliceblue;
    font-weight:700;
    border-radius: 4.90px;
}
.top-banner{
    background-image:url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{ 
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}
.exprience-item{
    box-shadow: 10px 10px 39px gray;
    margin-left:5%;
    margin-right:5%;
    width: 40%;
    padding-left:04%;
    border-left:7px solid blue;
}
.exprience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#full-stack {
    border-left: 7px solid tomato;
}
footer p{
    text-align: center;
}